body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.content {
    position: fixed;
    z-index: 100;
    width: 100%;
}

.div_pure_words {
    margin: 0 auto;
    width: 14rem;
    margin-top: 18rem;
    /*文字部分的最外层，用于定位*/
    /* position: fixed;
                            top: 11rem;
                            left: 0px;
                            display: none; */
    /* position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
    font-family: '楷体';
    color: #333 */
}

.div_pure_words_bg {
    /* background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    min-height: 100vh;
    opacity: 0.4; */
}

.div_pure_words_height {
    visibility: hidden;
    /* padding: 30px; */
    text-align: justify;
    /*为了使文字两端对齐 */
    white-space: pre-wrap;
    /*保留换行效果*/
    font-size: 1.1em;
    font-family: "Microsoft YaHei", "Arial";
    color: white;
}

.div_pw_typed {
    /* position: absolute; */
    /* left: 0; */
    /* right: 0; */
    /*4个方向定位使div充满整个画画*/
    /* top: 10rem; */
    /* bottom: 0; */
    /*4个方向定位使div充满整个画画*/
    /*半透明效果*/
    /* text-align: justify; */
    /*为了使文字两端对齐 */
}

.span_typed {
    width: 100%;
    white-space: pre-wrap;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 2rem;
    font-family: "Microsoft YaHei", "Arial";
    color: #fff;
}

.btn-wrap {
    margin: 22px auto;
    width: 14rem;
    text-align: center;
}

.btn-wrap button {
    display: none!important;
    width: 4rem;
    height: 2rem;
    display: inline-block;
    border-radius: .5rem;
    border: none;
    font-size: 19px;
    color: #fff;
    background-color: #999;
    margin: 10px;
    outline: none;
}

.content_next {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/pig.gif);
    background-size: cover;
    color: #fff;
    padding: 40px 20px;
    line-height: 2rem;
}

.more {
    position: fixed;
    right: .3rem;
    top: 5rem;
    z-index: 10000;
    text-decoration: none;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    background-color: rgba(255, 0, 0, .3);
    color: #fff;
    font-size: .6rem;
    line-height: 1.5rem;
    text-align: center;
    border: 2px solid #fff;
}